*{
	margin: 0;
	padding: 0;
 font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	/*background-color: red;*/
}
 #mobile{
  		display: none;
  		 /*display: flex; justify-content: space-between; background-color: #24292e;*/
  	}
header{
	background-color: #24292e;
	line-height: 1.5;
	display: flex;
	padding: 16px;
	justify-content: space-between;
	margin-bottom: 20px;
	    font-size: 14px;

}
 header ul{
 	display: flex;
 	list-style: none;
 	align-items: center;

 }
 header ul li{
 	/*margin: 0px 10px;*/
 	color: white;
 	margin-right: 16px;
 	display: flex;
 	align-items: center;

 }

  header ul li:hover{
cursor: pointer;
color: grey;
  }
 header ul li input{
 	/*margin: 0px 16px;/*/
 	min-height: 28px;
 	outline: none;
 	border-radius: 6px;
 	width: 230px;
 	border:none;
    background: inherit;
    border: 1px solid gray;
    padding: 0px 10px;

 }
header ul li i{
	color: white;
	margin-right: 5px
	/*font-size: 10px;*/
}
header ul li i:hover{
	color: grey;
}

 header	#mobile{
  		display: none;
  	}


 .container{
 	display: flex;
 	width: 98vw;
 	padding: 30px;
 	/*border: 1px solid grey;*/
 	/*height: 80vh;*/
 	margin: 20px 0px;

 }

 .container #left{
 	width: 25%;
 	/*border: 1px solid grey;*/
 	display: grid;
 	justify-content: center;
    padding-left: 20px;
 }
  .container #left img:hover{
cursor: pointer;
  }
  .container #right{
  	width: 65%;
  	padding: 0px 20px;

  }
 .container #right #banner{
 	list-style: none;
 	display: flex;
 	height: 42px;
 	border-bottom: 1px solid #c3bdbd;
 }
  .container #right #banner li{
  	display: flex;
  	align-items: center;
  	margin-right: 22px;
  }
  .container #right #banner a{
  	display: flex;
  	align-items: center;
  	padding-bottom: 20px;
  	text-decoration: none;
  	color: black;

  }
   .container #right #banner a:focus{
  	border-bottom: 2px solid orange;
  	font-weight: 600;

   }
.container #right #banner a:hover{
  	border-bottom: 2px solid #c3bdbd;
}

   .container #right #banner li img{
   	height: 20px;
   	margin-right: 5px;
   }


   .container #right #top input{
   	width: 99%;
   	margin: 10px 0px;
   	font-size: 14px;
   	padding: 5px;
   	border-radius: 6px;
   	outline: none;
   	border: 1px solid #c3bdbd;
   }
   .container #right p{
   	width: 27%;
   	margin-bottom: 10px;
   	   	/*border-bottom: 1px solid;*/

   }
    .container #right .repositories{
    	width: 100%;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;

    }
    .container #right .repositories #lvl ul{
  	list-style: none;
  	display: flex;
  	font-size: 15px;
    } 
    .container #right .repositories #lvl h1{
    	color: #0366d6;
    }
       .container #right .repositories #lvl h1:hover{
       	cursor: pointer;
       	text-decoration: underline;
       }
    .container #right .repositories #lvl ul li{
    	display: flex;
    	align-items: center;
    	margin-left: 10px
    }
    .container #right .repositories  i{
    	font-size: 10px;
    	margin-right: 3px
    }
       .container #right .repositories #lvl i:hover{
       	color: blue;
       }
       .container #right .repositories .star{
       	width: 50px;
       }
     .container #right .repositories .star:hover{
     	background-color: #e6e3e3;
     	cursor: pointer;

     }
      .container #right hr{
      	border:1px solid   #e6e3e3;
      }


    footer ul{
    	justify-content: space-between;
    }
    footer ul a{
    	text-decoration: none;
    	justify-content: space-between;
    	color: #0366d6;
    	/*font-size: small;*/
    	 font-size: 14px;
    }
    footer ul a:hover{
    	text-decoration: underline;
    }



@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 580px)
  and (-webkit-min-device-pixel-ratio: 2) {

body{

}

#desktop{
	display: none;
}
#mobile{
	display: flex; justify-content: space-between; background-color: #24292e;
	line-height: 1.5;
	padding: 16px;
	margin-bottom: 20px;
	    font-size: 14px;
	    align-items: center;
	    height: 90px;
	width:100%:
}
#mobile i{
	font-size: 50px;
}

 .container{
 	display: grid;
 	justify-content: center;
 	font-size: 30px;
 }

 i{
 	color: white;
 }
 i:hover{
 	color: grey;
 }

 .container img{
 /*display: none;*/
 width: 50px;

 }
 .container #left{
 	width: 100%;
 	display: contents;
 	font-size: 35px;
 }
  .container #left h1{
  	display: none;
  }
 .container #right{
 	margin-top: 25px;
 	width: 100%;
 }
 .container #right h1{
 	font-size: 45px;
 }
 .container #right p{
 	font-size: 20px;
 	width: 100%
 }
  .container #right img{
  	display: none;
  }
   .container #right #top input{
   	height: 50px;
   }
 .container #right .repositories .star{
 	display: flex;
 	justify-content: center;
 	width: 100px;
 	height: 40px;
 }

 footer ul li i{
 	display: none;
 }
}
